<div>
<h2> This is about page</h2>
<p>The page can just contain static content that describes the store. Details about what goes into the content are unclear and unimportant for now. Feel free to get creative here.</p>

</div>